<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Cursos online</title>

  <!-- <link rel="stylesheet" href="style.css"> -->
  <!-- <script src="script.js" defer></script> -->
  <!-- <script src="https://kit.fontawesome.com/4c58adf8ae.js" crossorigin="anonymous"></script> -->
</head>



<header class="header">
  <div class="menu">
      <nav>
          <a class="active" href="#"><i class="fa-solid fa-house"></i> Inicio</a>
          <!-- <a href="#cursos"> <i class="fa-solid fa-book"></i> Cursos</a> -->
           <a 
           routerLink="pages/contenido"
           rel="noopener">Cursos</a>
           <a 
           routerLink="pages/add-course"
           rel="noopener">Agregar Curso</a>
          <!-- <a href="#addCursos"> <i class="fa-solid fa-circle-plus"></i> Agregar cursos</a> -->
          <a 
          routerLink="pages/contacto"
          rel="noopener"> Contacto</a>
      </nav>
  </div>
</header>

<main class="main"> 
<router-outlet> </router-outlet>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



